* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Panthera;
    src: url(assets/fonts/Panthera.ttf);
}

@font-face {
    font-family: Beyno;
    src: url(assets/fonts/BEYNO.ttf);
}

@font-face {
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: Wakanda forever;
    src: url(assets/fonts/WakandaForever-Regular.ttf);
}

body {
    background: url(./assets/Illustration-Logo/arrière_plan.png) center/cover;
    min-height: 100vh;
    color: white;
}
 

/*HEADER*/

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.header-nav a{
    margin-left: 30px;
    margin-right: 30px;
    font-family: Beyno;
    font-size: 16px;
    src: url(./assets/fonts/BEYNO.ttf);

}

a:hover{
    color:#FFF;
}

.header-logo a:hover{
    color: #3D2DA6;
}

.nav-bar {
    color: white;
}

/*Main*/

#grid {
    position: relative;
    margin-bottom: 50px;
}

.pt2 {
    position: absolute;
    top: 270px;
    right: 20px;
    width: 40%;
}


.titre {
    position: absolute;
    top: 158px;
    right: 160px;
    font-family: Beyno;
    src: url(assets/fonts/BEYNO.ttf);
    color: #9E91B7;

}

h1 {
    font-size: 50px;
    letter-spacing: 6px;
}

h2 {
    font-size: 50px;
}

.paraph {
    position: absolute;
    top: 400px;
    right: 80px;
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    font-size: 10px;
    width: 450px;
    text-align: justify;
    
}

.titre-enigme{
    font-family: Beyno;
    font-size: 16px;
    src: url(./assets/fonts/BEYNO.ttf);
    color: #9E91B7;
}
.numero{
    font-size: 17px;
    color: purple;
    font-weight: bold;
}

.second {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.alphabet {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.titre-transcription{
    text-transform: none;
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
}

span {
    font-family: Wakanda forever;
    src: url(assets/fonts/WakandaForever-Regular.ttf);
   
}

.second h3 {
    font-family: Wakanda forever;
    src: url(assets/fonts/WakandaForever-Regular.ttf);
    color: rgb(176, 149, 201);
    font-size: 22px;
    margin-bottom: 40px;
    line-height: 35px;
    letter-spacing: 7px;
}

.second p{
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    font-size: 12px;
    margin-bottom:30px;
}

input {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 30px;
    width: 400px;
    padding: 10px;
    padding-left: 20px;
    background: url(assets/images/all-pages/arrière_plan.png);
    margin-top: 10px;
    margin-bottom: 50px;
}

button {

    border-radius: 38px;
    height: 54px;
    width: 174px;
    background-color: #DF99F2;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

button:hover{
    color: #DF99F2;
     box-shadow: #F2CEF2;

}

form {
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    font-size: 12px;
    width: 400px;
    margin-top: 100px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paraph-a {
    position: absolute;
    top: 60px;
    right:-120px;
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    font-size: 10px;
    width: 450px;
    text-align: center;
    
}

.pt3 {
    position: absolute;
    top: -90px;
    right: -6px;
    width: 100%;
}

/*footer*/

footer {
    margin-top: 150px;
    position: relative;
    height: 0px;
}

.footer-li ul {
    display: flex;
}

.footer-li li {
    margin: 5px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-li {
    position: absolute;
    top: 350px;
    right: 150px;
}

.h-footer ul {
    display: flex;
    justify-content: space-between;

}

.h-footer li {
    margin: 0px;
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.h-footer {
    position: absolute;
    top: 100px;
    right: 4px;
}

.footer2 {
    position: absolute;
    left: 350px;
    top: 240px;
    z-index: +1;
}

.footer1 {
    position: absolute;
    left: 300px;
    top: 142px;
}

.page h3, .retrouvez-nous h3 {
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.page li {
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    text-transform: capitalize;
    font-size: 0.75rem;
    list-style: none;
    margin-bottom: 5px;

}

.page {
    position: absolute;
    right: 555px;
    top: 160px;
}

.retrouvez-nous {
    position: absolute;
    right: 145px;
    top: 157px;
}

.fond-fotter {
    opacity: 70%;
}

.footer-li, .h-footer li {
    font-family: Cantarell;
    src: url(assets/fonts/Cantarell-Regular.ttf);
    font-size: 0.75rem;
    color: white;
}

/*popupbox*/

.popup{
    width: 350px;
    position: absolute;
    background: linear-gradient(
        80deg, #9E91B7, #3D2DA6
    ) ;
    box-shadow: var(--black-color) 15px 15px 80px;
    border-radius: 15px;
    text-align: center;
    padding: 0 30px 30px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

